@model DraGLand.Models.User
@{
    @ViewBag.Title
}

@Html.Partial("Partial")
<a>@ViewBag.Name</a>

<dt>
    @Html.DisplayNameFor(model => model.GameMoney)
</dt>

<dd>
    @Html.DisplayFor(model => model.GameMoney)
</dd>
