@model IEnumerable<DraGLand.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QiwiCardNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameMoney)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RealMoney)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InviteCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContractCharge)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.QiwiCardNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GameMoney)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RealMoney)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InviteCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContractCharge)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserName }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserName }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserName })
        </td>
    </tr>
}

</table>
