﻿@model DraGLand.Models.User
@{
    ViewBag.Title = "Профиль";
}
<h2>@ViewBag.Title</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Мои найстройки</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Псевдоним:</dt>
        <dd>@Model.UserName</dd>
        <dt>Почта:</dt>
        <dd>@Model.Email</dd>
        <dt>Игровой баланс:</dt>
        <dd>@Model.GameMoney</dd>
        <dt>Реальный баланс:</dt>
        <dd>@Model.RealMoney</dd>
        <!--<dt>Номер QIWI:</dt>
        <dd>Model.QiwiCardNumber</dd>-->
        <dt>Пароль:</dt>
        <dd>
            @Html.ActionLink("Изменить пароль", "ChangePassword")
        </dd>
        <dt>Промо код:</dt>
        <dd>
            @Model.UserName
        </dd>
    </dl>
</div>
